/*  _Variables.scss   */

// media
$media-breakpoint-sm: 600px;
$media-breakpoint-lg: 1200px;

// text
$root-font-size: 18px;

// colors
$primary-dark: #e05915;
$secondary-dark: #6f2e94; // #431c5d;
$primary-light: #e6e9f0;
$secondary-light: #e6e9f055;

// sizes: height should be in vh
$container-min-height: 70vh;