@import 'Variables';

.DataItem {
	// block
	width: 100%;

	h2 {
		// block
		padding: 20px;
		// text
		color: $secondary-dark;
	}

	img {
		width: 100%;
		max-width: 640px;
	}

	.item-body {
		// block
		padding: 20px;
	}

	.item-description {
		// block
		padding: 20px 0;
	}

	.item-value {
		// text
		color: $secondary-dark;
		text-align: center;
	}


}