@import 'Variables';

.DataTable {
	// block
	width: 100%;

	h2 {
		// block
		padding: 20px;
		// text
		color: $primary-dark;
	}

	table {
		width: 100%;
		border: 2px solid $primary-dark;
		border-collapse: collapse;
	}

	.request-parameters {
		// block
		padding: 20px;
		// text
		color: $secondary-dark;

		p {
			padding-bottom: 20px;
		}

		em {
			
		}
	}

}

.DataTableItem {
	// block

	// text
	font-size: 1em;
	// effects
	cursor: pointer;

	&:hover {
		background-color: #ddd4;
	}

	&.selected {
		background-color: $primary-light;
	}

	td {
		border: 1px solid lightgrey;
		padding: 10px;
	}

}