/*   DataTable.scss   */
/* styles for DataTable and DataTableItem */

@import 'Variables';

.DataTable {
	// block
	width: 100%;

	h2 {
		// block
		padding: 20px;
		// text
		color: $primary-dark;
	}

	table {
		width: 100%;
		border: 2px solid $primary-dark;
		border-collapse: collapse;
	}

	.request-parameters {
		// block
		border-left: 2px solid $secondary-dark;
		margin-top: 30px;
		padding-top: 5px;
		padding-left: 20px;
		// text

		p {
			padding-bottom: 5px;
		}

		em {

		}
	}

}

.DataTableItem {
	// block
	background-color: white;
	// text
	font-size: 1em;
	// effects
	cursor: pointer;
	transition: all 0.25s;

	&:hover {
		background-color: #aaa3;
	}

	&.selected {
		color: $secondary-dark;
		background-color: $primary-light;
	}

	td {
		border: 1px solid #ddd;
		background-color: $secondary-light;
		padding: 10px;
		&:first-child {
			width: 3em;
		}
	}

}