/* Normalization */

* {
	box-sizing: border-box;
}

div, span, p, footer, header, main {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

footer, header, main {
	display: block;
}